.git
.github
__pycache__
*.pyc
*.pyo
*.pyd
*.pytest_cache
.mypy_cache
.ruff_cache
dist
build
*.egg-info

tests
TESTING.md
README.md
users.json
test_data.txt

deploy
docker-compose.yml
registry-push.sh
restart-docker.sh
