.git
.gitignore

__pycache__/
*.py[cod]
.venv/

tests/
test_data.txt
users.json

.env
.env.*
*.key
*.crt

# --- Local tooling / scripts ---
registry-push.sh
restart-docker.sh
yandex.yml

.idea/

.DS_Store
Thumbs.db

README.md

docker-compose.yml
