services:
  init:
    image: ${IMAGE}:${TAG}
    env_file: [ .env ]
    depends_on:
      postgres:
        condition: service_healthy
    command: >
      sh -ceu '
        : "$$POSTGRES__PASSWORD";
        export PGPASSWORD="$$POSTGRES__PASSWORD";

        TABLES="$$(psql -h "$$POSTGRES__HOST" -p "$$POSTGRES__PORT" -U "$$POSTGRES__USER" -d "$$POSTGRES__DB_NAME"
          -tAc "SELECT count(*) FROM information_schema.tables WHERE table_schema = '\''public'\'';")";

        NEED_SEED=false;
        if [ "$${TABLES:-0}" -eq 0 ]; then
          echo "DB looks empty -> will seed after migrations";
          NEED_SEED=true;
        else
          echo "DB not empty (tables: $${TABLES:-?}) -> skip seed";
        fi;

        echo "Running migrations...";
        alembic upgrade head;

        if [ "$$NEED_SEED" = "true" ] && [ -f src/res/init-db.sql ]; then
          echo "Seeding DB...";
          psql -h "$$POSTGRES__HOST" -p "$$POSTGRES__PORT" -U "$$POSTGRES__USER" -d "$$POSTGRES__DB_NAME" \
            -v ON_ERROR_STOP=1 -f src/res/init-db.sql;
        else
          echo "Seed skipped.";
        fi
      '
    restart: "no"

  app:
    image: ${IMAGE}:${TAG}
    env_file: [ .env ]
    depends_on:
      init:
        condition: service_completed_successfully
    ports: [ "8000:8000" ]
    command: ["uvicorn", "src.main:app", "--host", "0.0.0.0", "--port", "8000"]
    restart: always

  postgres:
    image: postgres:17
    env_file: [ .env ]
    environment:
      POSTGRES_DB: ${POSTGRES__DB_NAME}
      POSTGRES_USER: ${POSTGRES__USER}
      POSTGRES_PASSWORD: ${POSTGRES__PASSWORD}
    ports: [ "5432:5432" ]
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always

volumes:
  postgres_data:
